services:
    caddy:
        image: caddy:2
        container_name: caddy
        restart: unless-stopped
        env_file:
            - .env
        ports:
            - "443:443"
            - "80:80"
        volumes:
            - ./conf:/etc/caddy
            # - ${SITE_DIR}:/srv
            - ${DATA_DIR}:/data
            - ${CONFIG_DIR}:/config
        networks:
            - proxy

networks:
    proxy:
        external: true
