services:
    homepage:
        image: ghcr.io/gethomepage/homepage:latest
        container_name: homepage
        user: root
        #    ports:
        #      - 3000:3000
        volumes:
            - ${HOMEPAGE_VAR_CONFIG_DIR}:/app/config
            - /var/run/docker.sock:/var/run/docker.sock:ro
        environment:
            - HOMEPAGE_ALLOWED_HOSTS=start.otszzo.home,10.0.0.2:3000
        env_file:
            - .env
        restart: unless-stopped
        networks:
            - proxy

networks:
    proxy:
        external: true
